In [2]:
#Train Test Split

In [4]:
import pandas as pd

In [8]:
dataset=pd.read_csv("Boston.csv")

In [10]:
dataset.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [30]:
dataset.shape

(506, 15)

In [12]:
input_data=dataset.iloc[:,:-1]
input_data

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [14]:
output_data=dataset['medv']

In [16]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25)

In [22]:
x_test

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
440,441,22.05110,0.0,18.10,0,0.740,5.818,92.4,1.8662,24,666,20.2,391.45,22.11
227,228,0.41238,0.0,6.20,0,0.504,7.163,79.9,3.2157,8,307,17.4,372.08,6.36
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
202,203,0.02177,82.5,2.03,0,0.415,7.610,15.7,6.2700,2,348,14.7,395.38,3.11
344,345,0.03049,55.0,3.78,0,0.484,6.874,28.1,6.4654,5,370,17.6,387.97,4.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,66,0.03584,80.0,3.37,0,0.398,6.290,17.8,6.6115,4,337,16.1,396.90,4.67
438,439,13.67810,0.0,18.10,0,0.740,5.935,87.9,1.8206,24,666,20.2,68.95,34.02
245,246,0.19133,22.0,5.86,0,0.431,5.605,70.2,7.9549,7,330,19.1,389.13,18.46
63,64,0.12650,25.0,5.13,0,0.453,6.762,43.4,7.9809,8,284,19.7,395.58,9.50
373,374,11.10810,0.0,18.10,0,0.668,4.906,100.0,1.1742,24,666,20.2,396.90,34.77

In [24]:
x_train

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
381,382,15.87440,0.0,18.10,0,0.671,6.545,99.1,1.5192,24,666,20.2,396.90,21.08
98,99,0.08187,0.0,2.89,0,0.445,7.820,36.9,3.4952,2,276,18.0,393.53,3.57
394,395,13.35980,0.0,18.10,0,0.693,5.887,94.7,1.7821,24,666,20.2,396.90,16.35
253,254,0.36894,22.0,5.86,0,0.431,8.259,8.4,8.9067,7,330,19.1,396.90,3.54
81,82,0.04462,25.0,4.86,0,0.426,6.619,70.4,5.4007,4,281,19.0,395.63,7.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,301,0.04417,70.0,2.24,0,0.400,6.871,47.4,7.8278,5,358,14.8,390.86,6.07
173,174,0.09178,0.0,4.05,0,0.510,6.416,84.1,2.6463,5,296,16.6,395.50,9.04
372,373,8.26725,0.0,18.10,1,0.668,5.875,89.6,1.1296,24,666,20.2,347.88,8.88
334,335,0.03738,0.0,5.19,0,0.515,6.310,38.5,6.4584,5,224,20.2,389.40,6.75
483,484,2.81838,0.0,18.10,0,0.532,5.762,40.3,4.0983,24,666,20.2,392.92,10.42

In [26]:
y_train

381    10.9
98     43.8
394    12.7
253    42.8
81     23.9
       ...
300    24.8
173    23.6
372    50.0
334    20.7
483    21.8
Name: medv, Length: 379, dtype: float64

In [28]:
y_test

440    10.5
227    31.6
0      24.0
202    42.3
344    31.2
       ...
65     23.5
438     8.4
245    18.5
63     25.0
373    13.8
Name: medv, Length: 127, dtype: float64

In [32]:
x_train.shape

(379, 14)

In [34]:
x_test.shape

(127, 14)

In [36]:
y_train.shape

(379,)

In [38]:
y_test.shape

(127,)

In [41]:
#Regression Analysis